#Contact-Div {
    padding-top: 80px;
    padding-inline: 30px;

    display: flex;
    flex-direction: row;
}

#Contact-Block {
    border: 1px solid var(--background-border);
    background: var(--background-block);
    border-radius: 25px;
}

#Contact-Info-Div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#Contact-Bio {
    align-items: center;
    justify-items: center;
}

#Contact-Separator {
    width: 100%;
    height: 1px;
    background: var(--background-border);
}

#Contact-Avatar-Div {
    background: #373737;
    border: 1px solid var(--background-border);
    border-radius: 10px;
    padding: 20px;
}

#Contact-Block-Menu {
    background: #303030;
    border-radius: 10px;
    padding: 3px 7px;
}

#Contact-Name {
    font-size: 30px;
}

#Contact-Work {
    background: #303030;
    border-radius: 10px;
    padding: 3px 7px;
    font-size: 14px;
}