#Contact-Div {
    padding-top: 88px; /* Отступ от Верха */
    padding-bottom: 30px; /* Отступ от Низа */
    padding-inline: 30px; /* Отступ от Сторон лева и права */
    gap: 5px; /* Отступ от Других предметов на одной плоскости (Горезонтальной) */

    display: flex;
    flex-direction: row;
}

#Contact-Block {
    border: 1px solid #343434;
    background: #1c1c1c;
    border-radius: 20px;
}

#Contact-Bio {
    align-items: center;
    justify-items: center;
}

#Contact-Separator {
    width: 100%;
    height: 1px;
    background: hsl(0, 0%, 22%);
}

#Contact-Avatar-Div {
    background: #343434;
    border: 1px solid #343434;
    border-radius: 10px;
    padding: 10px;
}


#Contact-Name {
    font-size: 30px;
}

#Contact-Work {
    background: #252525;
    border-radius: 20px;
}