@import "tailwindcss";

body {
    background-color: #151515;
    color: #ffffff;

    margin-inline: auto;
}

header {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#menu {
    background: #151515;
} 

#scrolled\ enable {
    border-bottom: 1px solid #343434;
    background: #151515;
    transition: background 0.3s;
}